@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}
